* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 20px;
	font-weight: 400;
	color: black;
}

a {
	text-decoration: none;
	color: #6C6C6C;
}

button {
	outline: none;
	border: none;
}

.container {
	background-image: url(./image/bg-image.avif);
	background-repeat: no-repeat;
	background-size: cover;

	width: 100vw;
	height: 100vh;
	position: relative;
}


.block {
	padding:15px ;
	border: 10px solid rgb(24, 165, 252);
	background-color:lightskyblue;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.block__matrix {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 20px;
	margin-bottom: 20px;

}

.block__matrix-a {


}

input { 
	font-size: 20px ;
	width: 5vw;
	text-align: center;
	height: 6vh;
}

.item-grid {
	display: flex;
	align-items: center;
	justify-content: center;
}


.block__item {
	display: flex;
	column-gap: 10px;
	justify-content: center;
}



#btn {
	width: 100%;
	margin-bottom: 15px;
	padding: 20px 20px;
	border-radius: 10px;
	font-size: 20px;
	background-color:rgb(152, 221, 230);
	border: 5px solid rgb(103, 224, 240);
	transition: all 0.25s ease-in;
}

#btn:hover { 
	transform: translateY(-5px);
	background-color:rgb(62, 224, 245);
}

.block__item-output {
	border:3px dashed rgb(22, 97, 238);
	background-color:cornflowerblue;
	text-align: center;
	width: 250px;
}

.block__item-output h5 {
	font-size: 19px;
	margin-bottom: 4px;
}

.block__item-output h6 { 
	margin-bottom: 4px;
	font-size: 16px;
}

.block__item-value { 
	color :;
	font-size: 20px;
}

.block__item-value input { 
	width: 5.5vw;
	font-size: 18px;
	height: 4vh;
}
